@font-face {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Prata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
