.button
  max-width: 205px
  padding: 25px 35px
  border: none
  text-transform: uppercase
  +font(12px, 14px, 500)
  letter-spacing: 0.05em
  color: #FFFFFF
  transition: all 0.3s

  &:hover
    cursor: pointer
    transition: all 0.3s

  &_pos_main
    margin-top: 25px
    background-color: $secondary
  
  &_pos_main:hover
    background-color: $primary

  &_pos_banner
    margin-top: 5px
    background-color: $beige

  &_pos_banner:hover
    background-color: $beige-dark
  