.title
  +font(30px, 40px)
  font-family: 'Playfair Display', serif
  color: $primary
  position: relative

  & span
    +font(45px, 60px)

  &_pos_main
    color: $primary
    +font(14px, 21px)
    font-family: 'Roboto', sans-serif
    color: $primary82
    width: 80%

  &_pos_popular
    text-align: center

  &_pos_card
    +font(14px, 24px, 700)
    letter-spacing: 0.03em
    color: $primary82

  &_type_description
    +font(12px, 16px)
    font-family: 'Prata', serif
    color: $primary82
  
  &_pos_banner
    +font(32px, 43px)
