* {
  box-sizing: border-box;
}

html, body, div, ul, ol,
p, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@font-face {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Roboto-Bold.ttf") format("truetype");
}
body {
  max-width: 1366px;
  margin: 0 auto;
  color: #444240;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.main, .icon > p, .header__icons, .header__menu, .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__container-param, .main__container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image, .card__background {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.card:hover, .card__image {
  filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.231372549));
}

.link {
  color: #444240;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link_pos_menu {
  color: #555248;
}
.link_pos_popular {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  align-self: flex-end;
  border-bottom: 1px solid #C4C0B6;
  padding-bottom: 11px;
  transition: all 0.3s;
}
.link_pos_popular:hover {
  text-decoration: none;
  border-bottom-color: #444240;
  transition: all 0.3s;
}
.link_pos_card {
  position: relative;
  align-self: flex-end;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #1B1A17;
}

.button {
  padding: 25px 35px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.button:hover {
  cursor: pointer;
}
.button_pos_main {
  max-width: 205px;
  margin-top: 25px;
  background-color: #444240;
}
.button_pos_main:hover {
  background-color: #1B1A17;
}
.button_pos_banner {
  background-color: #D4B098;
}
.button_pos_banner:hover {
  background-color: #9e816d;
}

.line {
  display: inline-flex;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  margin-inline: 15px;
}
.line_before-title {
  position: absolute;
  left: -80px;
  top: 50%;
}
.line_pos_card {
  margin-left: 0;
  vertical-align: middle;
  width: 30px;
}

.header {
  height: 85px;
  padding: 30px 100px;
}
.header__menu {
  -moz-column-gap: 65px;
       column-gap: 65px;
}
.header__icons {
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.logo {
  background-image: url("../img/logo_primary.svg");
  height: 26px;
  width: 104px;
}

.icon {
  width: 24px;
  aspect-ratio: 1;
  position: relative;
  transition: transform 0.2s;
}
.icon_type_search {
  background-image: url("../img/icon_search.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon_type_liked {
  background-image: url("../img/icon_liked.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon_type_cart {
  background-image: url("../img/icon_cart.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon > p {
  justify-content: center;
  position: absolute;
  right: -4px;
  top: -2px;
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #E6C8B4;
  color: #1B1A17;
  font-size: 8px;
  line-height: 1;
  font-weight: 400;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.main {
  background-image: url("../img/img_main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 70%;
  position: relative;
  padding-left: 180px;
  width: 100%;
  height: 768px;
  overflow: hidden;
  background-color: #FDFDFB;
}
.main__container-info {
  max-width: 30%;
  row-gap: 40px;
}
.main__container-param {
  justify-content: space-between;
  height: 100%;
  max-width: 670px;
  margin-right: 115px;
  padding: 140px 0 115px;
  flex-grow: 1;
}

.title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  color: #1B1A17;
  position: relative;
}
.title span {
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
}
.title_pos_main {
  color: #1B1A17;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgba(27, 26, 23, 0.8196078431);
  width: 80%;
}
.title_pos_popular {
  text-align: center;
}
.title_pos_card {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.8196078431);
}
.title_type_description {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Prata", serif;
  color: rgba(27, 26, 23, 0.8196078431);
}

.param {
  display: inline-flex;
  align-items: center;
}
.param_pos_lt {
  align-self: start;
}
.param_pos_rb {
  align-self: end;
}
.param p {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-family: "Prata", serif;
  color: #1B1A17;
}

.popular {
  padding: 85px 100px;
}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-items: center;
  gap: 30px;
}

.card {
  display: grid;
  grid-template-rows: fit-content(100%);
  row-gap: 5px;
  width: 370px;
  min-height: 460px;
  padding: 40px;
  margin-top: 25px;
  position: relative;
  background-color: #FDFDFB;
  transition: filter 0.3s;
}
.card__background {
  width: 313px;
  height: 313px;
  background: linear-gradient(#FDFDFB 0 0) padding-box, linear-gradient(270deg, #E2D0C4 0.3%, rgba(226, 208, 196, 0) 99.67%) border-box;
  border: 1px solid transparent;
  border-radius: 50%;
}
.card__image {
  width: 281.7px;
}
.card:hover {
  transition: filter 0.3s;
}/*# sourceMappingURL=index.css.map */